.comments {
  width: 100%;
  margin: 10rem 0;
}

.comments .container {
  gap: 3rem;
}

.commentsCard {
  background-color: var(--white-clr);
  width: 45%;
  text-align: center;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem ;
  border-radius: 2rem;
  position: relative;
}

.doubleQuotes {
  background-image: url("../../SVGs//doubleQuotes.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 37.5%;
}

.commentsCard > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #000;
}

.commentsCard > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: #3e86f5;
}

.commentsCard > h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.commentsCard__img {
  position: absolute;
  background-color: var(--white-clr);
  padding: 1rem;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.commentsCard__img-star {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 5%;
  right: 0;
  background-color: var(--white-clr);
  border-radius: .5rem;
}

@media screen and (max-width: 80rem) {
  .comments .container {
    flex-direction: column;
    gap: 10rem;
  }
  .commentsCard {
    width: 100%;
  }
}