.flights {
  width: 100%;
  position: relative;
  top: -100px;
}

.flights .container {
  flex-direction: column;
  align-items: flex-start !important;
}

.flights__type {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--white-clr);
  border-radius: 10px;
  gap: 2rem;
  padding: 2rem;
}

.flights__type > * {
  display: flex;
  gap: 0.5rem;
  transition: all 0.5s ease;
  padding: 0.25rem;
}

.flights__type > *:hover {
  background-color: var(--blue-clr-light);
  border-radius: 8px;
}

.flights__type small {
  font-weight: 600;
}

.flights__time {
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 3rem;
  background-color: var(--white-clr);
  padding: 1rem;
  border-radius: 10px;
}

.flights__time-where {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.flights__time-where_done,
.flights__time-where_prepare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.flights__time-where_done div {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.flights__time-where_done small,
.flights__time-where_prepare small {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

.flights__time-where_done .place,
.flights__time-where_prepare .place {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--black-clr);
}

.flights__time-where_done .airplane,
.flights__time-where_prepare .calender {
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.25rem;
  place-items: center;
}

.flights__time-where_prepare {
  display: flex;
  gap: 2rem;
}

.flights__time-where_prepare > div > div {
  display: flex;
  gap: 1rem;
}

.flights__time-search {
  background-color: var(--blue-clr);
  padding: 1.5rem;
  border-radius: 50%;
  height: fit-content;
}

@media screen and (max-width: 80rem) {
  .flights {
    display: none;
  }
}
